node_modules
dist
build
.DS_Store
.env
.env.local
*.log
client/dist
server/dist
server/prisma/dev.db
server/prisma/dev.db-journal
server/prisma/dev.db-shm
server/prisma/dev.db-wal
server/generated
coverage
